<mat-toolbar color="primary">
  <img class="brand-logo" src="assets/logo.jpg" alt="Logo">
  <p class="text-start">empire state cricket league</p>
  <span class="example-spacer"></span>

  <div class="nav-links-container">
    <span class="nav-link" routerLink="/">Home</span>
    <span class="nav-link" routerLink="/">Sponsers</span>
    <span class="nav-link" routerLink="/">USA Cricket</span>
    <span class="nav-link" routerLink="/">CrickClub</span>
    <span class="nav-link" routerLink="/">Register</span>
    <span class="nav-link" routerLink="/">Contact</span>
  </div>
</mat-toolbar>