<div class="header-content">
  <app-navbar></app-navbar>
</div>
<div class="main-content container">
  <app-recent-updates-card class="row"></app-recent-updates-card>
  <app-news-bulletin class="row"
    [news]="['News Item 1', 'News Item 2', 'News Item 3','News Item 4']"></app-news-bulletin>
  <app-image-carousel class="row"></app-image-carousel>

  <!-- app.component.html or any other component where you want to use the news bulletin -->
  <!--<app-image-slider></app-image-slider>-->
</div>
<div class="footer-content">
  <app-footer></app-footer>
</div>

<router-outlet></router-outlet>