.news-bulletin-container{height: 230px  !important;}
//.mat-mdc-card mdc-card news-bulletin-container alert alert-success{    height: 259px !important;}
.mat-mdc-card-content {
    height: 259px !important;
    overflow: auto; 
}
