/* navbar.component.css */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fcfafa;
    color: white;
  }
  
  .logo img {
    height: 200px; /* Adjust the height as needed */
  }
  
  ul {
    list-style-type: none;
    display: flex;
    gap: 150px;
  }
  
  li {
    font-size: 18px;
  }
  
  a {
    text-decoration: underline;
    color: black;
    margin-right: 60px;
  }
  
 mat-toolbar {
height: auto;
 }
 
  .brand-logo {
    height: 170px;
    margin-right: 10px;
    border-radius: 60%;
  }

  .example-spacer {
    flex: 1 1 auto;
    min-width: 30px;
  }

  .nav-link {
    cursor: pointer;
    margin: 0 10px;
  }

  .nav-links-container {
    display: flex;
    flex-wrap: wrap;
  }